:root {
  --white-bgd: #fff;
  --light-blue-bgd: #f7faff;
  --primary-brand: #0a224a;
  --accent-stat: #061835;
  --input-normal-grey: #d9d9d9;
  --dark-grey: #b6b6b6;
  --input-error-state: #e74a3b;
  --checkbox-text: #7a7a7a;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  color: var(--primary-brand);
  background-color: var(--white-bgd);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* list-style: none; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  padding: 0;
  outline: transparent;
  cursor: pointer;
  border: none;
  font-family: inherit;
}

input {
  font-family: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
/* 

------   H E A D E R   -------

 */
.header {
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: var(--light-blue-bgd);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-link {
}

.header-logo-icon {
}

.header-menu {
}

.header-menu-list {
  display: none;
}

.header-menu-item {
  cursor: pointer;
}

.menu-item-link {
  position: relative;
}
.menu-item-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2;
  left: 0;
  background-color: var(--primary-brand);
  visibility: hidden;
  transition: all 0.16s ease-in-out;
  transform: scaleX(0);
}
.menu-item-link:hover::after {
  visibility: visible;
  transform: scaleX(0.9);
}

.header-button {
  width: 32px;
  height: 32px;
  background-color: transparent;
}

.header-button-icon {
  fill: var(--primary-brand);
}
/* 

------   3 7 5   -------

 */
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
/* 

------   7 6 8   -------

 */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 32px;
  }
  body {
    font-size: 18px;
  }
  .header {
    padding-bottom: 27px;
  }
  .header-button {
    width: 40px;
    height: 40px;
  }
  .header-button-icon {
    width: 40px;
    height: 40px;
  }
}
/* 

------   1 4 4 0   -------

 */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0px 60px;
  }
  .header {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .header-menu-list {
    display: flex;
    gap: 30px;
    padding: 0px 8px;
  }
  .menu-item-link {
    display: block;
    padding: 34px 0px;
  }

  .header-button {
    display: none;
  }
}
