:root {
  --white: #fff;
  --light-blue-bgd: #f7faff;
  --primary-brand: #0a224a;
  --accent-stat: #061835;
  --input-normal-grey: #d9d9d9;
  --dark-grey: #b6b6b6;
  --input-error-state: #e74a3b;
  --checkbox-text: #7a7a7a;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  color: var(--primary-brand);
  background-color: var(--white);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* list-style: none; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  color: currentColor;
  text-decoration: none;
}

button {
  padding: 0;
  outline: transparent;
  cursor: pointer;
  border: none;
  font-family: inherit;
}

input {
  font-family: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
/* 


============    H E A D E R    ===========


 */
.header {
  background-color: var(--light-blue-bgd);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-link {
  padding: 36px 0px;
  transition: filter 0.1s linear;
}
.header-logo-link:hover,
.header-logo-link:focus {
  filter: drop-shadow(0px 0px 19px var(--primary-brand));
}

.header-logo-icon {
}

.header-menu {
}

.header-menu-list {
  display: none;
}

.header-menu-item {
  cursor: pointer;
}

.menu-item-link {
  position: relative;
}
.menu-item-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2;
  left: 0;
  background-color: var(--primary-brand);
  transition: all 0.14s ease-in-out;
  visibility: hidden;
  transform: scaleX(0);
}
.menu-item-link:hover::after {
  visibility: visible;
  transform: scaleX(0.9);
}

.header-button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  background-color: transparent;
  transition: box-shadow 0.1s linear;
}
.header-button:hover,
.header-button:focus {
  box-shadow: 0px 0px 5px var(--primary-brand);
}

.header-button-icon {
  fill: var(--primary-brand);
}
.navigation-list {
  width: 100%;
}
.mob-menu-item {
  width: 100%;
}
/* 


============    M O D A L   in   H E A D E R    ===========


 */
.popup {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .navigation-container {
  opacity: 1;
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
}

.popup__content {
  height: inherit;
}
.navigation-container {
  background-color: rgba(12, 12, 12, 0.3);
  height: inherit;
  transition: all 0.5s ease-in-out 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.navigation {
  padding-top: 122px;
  height: inherit;
  background-color: var(--white);
  display: flex;
  justify-content: center;
}
.navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}
.js-menu-link {
  text-align: center;
}
/* 


========    H E R O    ===========


 */
.hero {
  margin: 0 auto;
  max-width: 375px;
  padding: 140px 0 313px;
  background-color: var(--light-blue-bgd);
  background-image: url(../img/hero/hero_mobile_1x.webp);
}
.hero-h1 {
  max-width: 285px;
  font-family: "Playfair Display", serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.hero-images-wrapper {
  display: none;
}
.hero-paragraph {
  margin-bottom: 28px;
}
.hero-button-link {
  max-width: 224px;
  text-align: center;
  color: var(--white);
  background-color: var(--primary-brand);
  padding: 12px 65px;
  transition: all 0.2s ease-in-out;
}
.hero-button-link:hover,
.hero-button-link:active {
  background-color: var(--accent-stat);
}

/* 


------   3 7 5   -------


 */
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
/* 


------   7 6 8   -------


*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 32px;
  }
  .navigation {
    padding-top: 122px;
  }
  body {
    font-size: 18px;
  }
  .header {
  }
  .header-logo-link {
    padding: 40px 0px 39px;
  }
  .header-logo-icon {
    width: 127px;
  }
  .header-button {
    width: 40px;
    height: 40px;
  }
  .header-button-icon {
    width: 40px;
    height: 40px;
  }
  /* 
        hero
   */
  .hero {
    max-width: 768px;
    background-image: none;
    background-color: var(--white);
    padding: 61px 0 100px;
  }

  .hero-h1 {
    z-index: 1;
    margin: 4px 0 0;
    font-size: 50px;
    max-width: 648px;
    position: absolute;
  }
  .hero-images-wrapper {
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;
    display: flex;
  }
  .hero-img1 {
    width: 308px;
    height: 329px;
    object-fit: cover;
  }
  .hero-img2 {
    width: 367px;
    height: 531px;
    object-fit: cover;
  }
  .hero-paragraph {
  }
  .hero-button-link {
  }
}
/* 


------   1 4 4 0   -------


 */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0px 60px;
  }
  .header {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .header-menu-list {
    display: flex;
    gap: 30px;
    padding: 0px 8px;
  }
  .menu-item-link {
    padding: 34px 0px;
  }

  .header-button {
    display: none;
  }
}
